body, html { margin: 0; padding: 0; width: 100%; height: 100%; display: flex; }
#menu {
    width: 300px;
    background: white;
    padding: 20px;
    overflow-y: auto;
    border-right: 2px solid #ddd;
    font-family: Arial, sans-serif;
}
#menu h1 { font-size: 20px; margin-bottom: 10px; }
#menu p { font-size: 14px; color: #555; }
#project-list { margin-top: 15px; }
.project-item {
    cursor: pointer;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    transition: background 0.3s;
}
#map { flex: 1; height: 100vh; }

/* Conteneur en arrière-plan */
#popup-container {
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Caché par défaut */
    justify-content: center;
    align-items: center;    
}

/* Contenu de la popup */
#popup-content {
    width: 80%;
    height: 80%;
    background: white;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    overflow-y: auto;         /* autorise le scroll si besoin */
}

/* Bouton de fermeture */
#close-popup {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 24px;
    cursor: pointer;
}


#popup-content::-webkit-scrollbar {
    width: 8px;
}
#popup-content::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

#close-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

#popup-details img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

#urlinsta {
    display: inline-block;
    margin-top: 15px;
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

#urlinsta:hover {
    text-decoration: underline;
}
